In [1]:
import pandas as pd

csv_file = 'tripadvisor_hotel_reviews.csv'
df=pd.read_csv(csv_file)

In [2]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [5]:
type(df['Rating'][0])

numpy.int64

In [3]:
df['Rating'].unique()

array([4, 2, 3, 5, 1])

In [ ]:
rating_map={1:[1,0,0,0,0], 
            2:[0,1,0,0,0],
            3:[0,0,1,0,0],
            4:[0,0,0,1,0],
            5:[0,0,0,0,1]}